.content-hidden {
  opacity: 0;
  pointer-events: none;
}

.content-visible {
  opacity: 1;
  transition: opacity 1s ease;
}

.page-content.fade-in {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 1s ease-in-out;
}

.page-content.fade-out {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}
