.intro-wrapper {
  height: 100vh;
  background-color: black;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  height: auto;
  z-index: 10;
}
